.square {
    width: 100px;
    height: 100px;
    background-color: black;
    cursor: grab;
    position: absolute;
    top: 200px;
    left: 0;

}

.triangle{
    border-left: 50px solid transparent;
    border-right: 48px solid transparent;
    border-bottom: 85px solid white;
    position: absolute;
    rotate: 30deg;


}

body {
    background-color: green;
}